{{ header|raw }}
<style>
    .navbar {
        position: absolute !important;
    }

    .capa-white {
        display: block;
    }

    .opener-left-menu {
        display: none;
    }

    .sbmenu-items-add {
        position: fixed;
        width: 20%;
        left: 0%;
        top: 0px;
        height: 100%;
        background: #f1f1f1;
        z-index: 99999;
        overflow-y: scroll;
    }

    .opciones-q {
        left: 0%;
        top: 0px;
        height: 500px;
        overflow-y: auto;
    }

    .show-sbmenu {
        left: 0%;
    }

    .div-pregunts {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e4e4e4;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .addquestion {
        background: #2196f3 !important;
    }

    .div-question {
        width: padding-left: 30%;
    }

    .div-question {
        width: 85%;
        position: relative;
        left: 20%;
        top: 20px;
    }

    .capa-white {
        display: none;
    }

    .opcion-op {
        padding-top: 20px;
        padding-bottom: 0px;
        border-bottom: 1px solid #ccc;
        background: #f1eded;
    }

    .dlt-option, .dlt-option-tmp {
        opacity: 0;
        font-size: 20px;
    }

    .opcion-op:hover .dlt-option {
        opacity: 1;
    }

    .opcion-op:hover .dlt-option-tmp {
        opacity: 1;
    }
</style>
<div class="sbmenu-items-add animate">
    {% for question in questions %}
        <div class="col-xs-12 col-sm-12 col-lg-12 ">
            <div class="col-xs-10 col-sm-10 col-lg-10 div-pregunts" v="{{ QuizIDEnCryp }}" i="{{ question.Orden }}"
                 q="{{ question.QuestionID }}">
                <a title="{{ question.QuestionName|raw }}">{{ question.QuestionName|raw }}</a>
            </div>
        </div>
    {% endfor %}
    <div class="menu-questions">

    </div>
    <div class="col-xs-12 col-sm-12 text-center" style="margin-top: 30px;">
        <button type="button" class="btn btn-info addquestion" v="{{ QuizIDEnCryp }}">Agregar pregunta<i
                    class="fa fa-chevron-down" aria-hidden="true"></i></button>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="container">
        <div class="div-question print-question">

        </div>
    </div>
</div>
<div class="capa-white"></div>
{{ footer|raw }}
<script src="{{ mediumEditor }}"></script>
<script>
    var cn = 0;
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = (window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    //Agregar otra pregunta
    var i = $('.div-pregunts').size();
    $('.addquestion').click(function () {
        var v = $(this).attr('v');
        i++;

        $('.menu-questions').append('<div class="col-xs-12 col-sm-12 col-lg-12">' +
            '<div class="col-xs-10 col-sm-10 col-lg-10 div-pregunts" v="' + v + '" i="' + i + '" q="">' +
            '<a>Pregunta ' + i + '</a>' +
            '</div>' +
            '<div class="col-xs-1 col-sm-1 col-lg-1" style="padding-top:15px;"></div>' +
            '</div>');

        $('.div-pregunts[i=' + i + ']').click();
    });

    //Delete question
    $('body').on('click', '.dltqs', function () {
        $('.div-pregunts[i=' + $(this).closest('div').siblings('input[name=i]').val() + ']').hide();
        $('.div-pregunts[i=' + ($(this).closest('div').siblings('input[name=i]').val() - 1) + ']').click();
    });

    //Ver pregunta
    $('body').on('click', '.div-pregunts', function () {
        var vq = $(this).attr('v');
        var qv = $(this).attr('q');
        var iq = $(this).attr('i');
        $.ajax({
            type: 'POST',
            url: base_url + 'materiasfnc/getquestion',
            data: 'quiz=' + encodeURIComponent(vq) + '&i=' + iq + '&question=' + encodeURIComponent(qv),
            success: function (vl) {
                $('.print-question').html(vl);
                /*var editor = new MediumEditor('.editor_edit', {
                    toolbar: {
                        allowMultiParagraphSelection: true,
                        //buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
                        buttons: ['bold', 'italic', 'anchor'],
                        diffLeft: 0,
                        diffTop: -10,
                        firstButtonClass: 'medium-editor-button-first',
                        lastButtonClass: 'medium-editor-button-last',
                        relativeContainer: null,
                        standardizeSelectionStart: false,
                        static: false,

                        align: 'center',
                        sticky: false,
                        updateOnEmptySelection: false
                    }
                });*/

                cn = $('.opcion-op').size();
            }
        });
    });


    //Borrar pregunta
    $('body').on('click', '.dlt-option', function () {
        if ($('.opcion-op').size() < 3) {
            $.dialog({
                title: 'M&iacute;nimo de opciones alcanzado',
                content: 'No se permite tener menos de 2 opciones, modifica o agrega m&aacute;s opciones.',
            });
            return;
        }

        $(this).parent().parent().parent().addClass('animated bounceOut');
        setTimeout(function () {
            $('.bounceOut').remove();
        }, 700);

        var v = $(this).attr('v');
        var ord = $(this).attr('ord');
        var sT = $('#sel1').val();
        $.ajax({
            type: 'POST',
            url: base_url + 'materiasfnc/deleteoption',
            data: 'q=' + encodeURIComponent(v) + '&sT=' + encodeURIComponent(sT) + '&or=' + encodeURIComponent(ord),
            success: function (sbvl) {

            }
        });
    });
    //agregar otra pregunta

    $('body').on('click', '.add-opcion', function () {
        cn++;
        $('.opciones-q').append('<div class="col-xs-12 col-sm-12 col-lg-12 opcion-op">' +
            '<div class="col-xs-2 col-sm-2 col-lg-2">' +
            '<div class="form-animate-radio">' +
            '<label class="radio">' +
            '<input  type="radio" name="radios" value="' + cn + '" q="" required/>' +
            '<span class="outer"></span>' +
            '<span class="inner"></span>' +
            '</label>' +
            '</div>' +
            '</div>' +
            '<div class="col-xs-10 col-sm-10 col-lg-10">' +
            '<div class="col-xs-10 col-sm-10 col-lg-10 form-group ">\n' +
            '<input  type="text" class="form-text input-lg" i="' + cn + '" name="options[opc][]" style="width: 100%;background:none;" placeholder="Escribe tu respuesta" value="" required/>' +
            '<input type="hidden" name="options[ord][]" value="' + cn + '"/>' +
            '</div>' +
            '<div class="col-xs-2 col-sm-2 col-lg-2 text-right">' +
            '<a class="dlt-option-tmp">' +
            '<i class="fa fa-trash-o" aria-hidden="true"></i>' +
            '</a>' +
            '</div>' +
            '</div>' +
            '</div>');
        $('input[i=' + cn + ']').focus();
        /*var editor = new MediumEditor('.editor_edit', {
            toolbar: {
                allowMultiParagraphSelection: true,
                //buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
                buttons: ['bold', 'italic', 'anchor'],
                diffLeft: 0,
                diffTop: -10,
                firstButtonClass: 'medium-editor-button-first',
                lastButtonClass: 'medium-editor-button-last',
                relativeContainer: null,
                standardizeSelectionStart: false,
                static: false,

                align: 'center',
                sticky: false,
                updateOnEmptySelection: false
            }
        });*/
    });
    //
    $('body').on('click', '.dlt-option-tmp', function () {
        $(this).parent().parent().parent().addClass('animated bounceOut');
        setTimeout(function () {
            $('.bounceOut').remove();
        }, 700);
    });

    //preguntas || Rellenar espacios
    $('body').on('change', '#sel1', function () {
        if ($(this).val() == 'rE') {
            $('.rellenar-espacios').show();
            $('.pregunta-opciones').hide();
            $('#title-q').attr('required', false);
            $('#rellenarE').attr('required', true);

        } else {
            $('.rellenar-espacios').hide();
            $('.pregunta-opciones').show();
            $('#title-q').attr('required', true);
            $('#rellenarE').attr('required', false);
        }
    });
    /*var editor = new MediumEditor('.editor_edit', {
        toolbar: {
            allowMultiParagraphSelection: true,
            //buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
            buttons: ['bold', 'italic', 'anchor'],
            diffLeft: 0,
            diffTop: -10,
            firstButtonClass: 'medium-editor-button-first',
            lastButtonClass: 'medium-editor-button-last',
            relativeContainer: null,
            standardizeSelectionStart: false,
            static: false,
            align: 'center',
            sticky: false,
            updateOnEmptySelection: false
        }
    });*/


    var Base64 = {
        _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) {
            var t = "";
            var n, r, i, s, o, u, a;
            var f = 0;
            e = Base64._utf8_encode(e);
            while (f < e.length) {
                n = e.charCodeAt(f++);
                r = e.charCodeAt(f++);
                i = e.charCodeAt(f++);
                s = n >> 2;
                o = (n & 3) << 4 | r >> 4;
                u = (r & 15) << 2 | i >> 6;
                a = i & 63;
                if (isNaN(r)) {
                    u = a = 64
                } else if (isNaN(i)) {
                    a = 64
                }
                t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a)
            }
            return t
        }, decode: function (e) {
            var t = "";
            var n, r, i;
            var s, o, u, a;
            var f = 0;
            e = e.replace(/[^A-Za-z0-9+/=]/g, "");
            while (f < e.length) {
                s = this._keyStr.indexOf(e.charAt(f++));
                o = this._keyStr.indexOf(e.charAt(f++));
                u = this._keyStr.indexOf(e.charAt(f++));
                a = this._keyStr.indexOf(e.charAt(f++));
                n = s << 2 | o >> 4;
                r = (o & 15) << 4 | u >> 2;
                i = (u & 3) << 6 | a;
                t = t + String.fromCharCode(n);
                if (u != 64) {
                    t = t + String.fromCharCode(r)
                }
                if (a != 64) {
                    t = t + String.fromCharCode(i)
                }
            }
            t = Base64._utf8_decode(t);
            return t
        }, _utf8_encode: function (e) {
            e = e.replace(/rn/g, "n");
            var t = "";
            for (var n = 0; n < e.length; n++) {
                var r = e.charCodeAt(n);
                if (r < 128) {
                    t += String.fromCharCode(r)
                } else if (r > 127 && r < 2048) {
                    t += String.fromCharCode(r >> 6 | 192);
                    t += String.fromCharCode(r & 63 | 128)
                } else {
                    t += String.fromCharCode(r >> 12 | 224);
                    t += String.fromCharCode(r >> 6 & 63 | 128);
                    t += String.fromCharCode(r & 63 | 128)
                }
            }
            return t
        }, _utf8_decode: function (e) {
            var t = "";
            var n = 0;
            var r = c1 = c2 = 0;
            while (n < e.length) {
                r = e.charCodeAt(n);
                if (r < 128) {
                    t += String.fromCharCode(r);
                    n++
                } else if (r > 191 && r < 224) {
                    c2 = e.charCodeAt(n + 1);
                    t += String.fromCharCode((r & 31) << 6 | c2 & 63);
                    n += 2
                } else {
                    c2 = e.charCodeAt(n + 1);
                    c3 = e.charCodeAt(n + 2);
                    t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);
                    n += 3
                }
            }
            return t
        }
    }
    url = getUrlParameter('qstn');
    $('.div-pregunts[i=' + Base64.decode(decodeURIComponent(url.replace(/\+/g, ' '))) + ']').click();

    $('body').on('click','.insertAtCursor',function () {
        var cursorPos = $('#rellenarE').prop('selectionStart');
        var v = $('#rellenarE').val();
        var textBefore = v.substring(0, cursorPos);
        var textAfter = v.substring(cursorPos, v.length);

        $('#rellenarE').val(textBefore + '___' + textAfter);
        $('#rellenarE').focus();

    });

    $('body').on('click', '.get-options', function () {
        var vq = $(this).attr('qz');
        var qv = $(this).attr('qst');
        var oq = $(this).attr('op');
        var iq = $(this).attr('iq');
        $.ajax({
            type: 'POST',
            url: base_url + 'materiasfnc/getReOptions',
            // data: 'quiz=' + encodeURIComponent(vq) + '&i=' + iq + '&question=' + encodeURIComponent(qv),
            data: 'quiz=' + encodeURIComponent(vq) + '&qst=' + encodeURIComponent(qv) + '&op=' + encodeURIComponent(oq) + '&i=' + encodeURIComponent(iq),
            success: function (vl) {
                $('.div_options').html(vl);
                /*var editor = new MediumEditor('.editor_edit', {
                    toolbar: {
                        allowMultiParagraphSelection: true,
                        //buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
                        buttons: ['bold', 'italic', 'anchor'],
                        diffLeft: 0,
                        diffTop: -10,
                        firstButtonClass: 'medium-editor-button-first',
                        lastButtonClass: 'medium-editor-button-last',
                        relativeContainer: null,
                        standardizeSelectionStart: false,
                        static: false,

                        align: 'center',
                        sticky: false,
                        updateOnEmptySelection: false
                    }
                });*/

                cn = $('.opcion-op').size();
            }
        });
    });

    $('body').on('submit','#Qs_Form',function () {
       if($('#sel1').val() == 'rE') {
           str = $('#rellenarE').val();
           var res = str.match(/(___)/g);
           if(res == null){
               $.dialog({
                   title: 'Formato de texto incorrecto',
                   content: 'Necesita agregar al menos un espacio en blanco para guardar la pregunta.',
               });
               return false;
           }
       }
    });
</script>