{{ header_left|raw }}
<div id="content">
    <div class="panel">
      <div class="panel-body">
          <div class="col-md-12 col-sm-12">

              <h3 class="animated fadeInLeft">Inicio | Dashboard </h3>

          </div>
      </div>                    
    </div>  
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-heading">
            <h3>Cursos impartidos</h3>
          </div>
          <div class="panel-body">
            {#{{ cursos|raw }}#}
              {% for curso in cursos %}
                  <div style="margin-bottom:10px;">
                      <a href="{{ base_url() }}materias/admin/?m={{ curso.CourseID|raw }}">{{ curso.CourseName|raw }} <b style="color:gray;">{{ curso.av|raw }}%</b></a>
                      <div style="width:100%;height:20px;background:#eee;">

                          <div style="width:{{ curso.av|raw }}%;height:100%;background:#ff9222;"></div>
                      </div>
                  </div>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-heading">
            <h3>Top 10</h3>
          </div>
          <div class="panel-body">
            {#{{ tpalumnos|raw }}#}
              {% for tpalumno in tpalumnos %}
                  <div style="margin-bottom:10px;">
                      <a href="{{ base_url() }}alumnos/info/?a={{ tpalumno.UserID|raw }}">{{ tpalumno.UserFirstName }}{{ tpalumno.UserLastName }}<b style="color:gray;">{{ tpalumno.progress }}%</b></a>
                      <div style="width:100%;height:15px;background:#eee;">
                          <div style="width:{{ tpalumno.progress }}%;height:100%;background:#ff9222;"></div>
                      </div>
                  </div>
              {% endfor %}
          </div>
        </div>
      </div>
  </div>
</div>
{{ footer|raw }}