{{ header_left|raw }}
<div id="content">
    <div class="panel">
        <div class="panel-body">
            <div class="col-md-12 col-sm-12">

                <h3 class="animated fadeInLeft">Alumnos</h3>

            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="col-md-6 col-sm-12 col-lg-6">
            <a class="tpg-relawey add-curso-directo" data-toggle="modal" data-target="#addalumnos-form"><i
                        class="fa fa-plus" aria-hidden="true"></i> Dar de alta un alumno</a>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-right">
            <b class="dline-b">Busqueda: </b>
            <form class="dline-b" method="get">
                <input class="form-control" type="text" name="s" id="s">
            </form>
            {% if words != "" %}
                <br><a href="{{ base_url() }}profesor/alumnos" class="rojo"><i class="fa fa-times"
                                                                               aria-hidden="true"></i> Limpiar busqueda</a>
                <br>
            {% endif %}
        </div>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>Registro</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Carrera/Nivel</th>
                <th>-</th>
            </tr>
            </thead>
            <tbody>
            {{ usuarios|raw }}
            </tbody>
        </table>
        {{ pagination|raw }}
    </div>
    <!-- Trigger the modal with a button -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Usuario aún sin activar</h4>
                </div>
                <div class="modal-body">

                    <b>Detalles: </b><br>
                    <p class="intrc"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                </div>
            </div>

        </div>
    </div>
    <div id="addalumnos-form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dar de alta alumnos</h4>
                </div>
                <div class="modal-body">
                    <label>Tipo de usuario <b class="red">*</b></label>
                    <select class="form-control tipouser" id="typealum1">
                        {{ listtype|raw }}
                    </select>
                    <div class="paintbytype">

                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" id="createalumnos">Aceptar</button>
                    <a data-dismiss="modal">Cancelar</a>
                </div>
            </div>

        </div>
    </div>

</div>
{{ footer|raw }}
<script>
    var typeusr = this.value;
    if (typeusr != "") {
        $.ajax({
            type: 'POST',
            url: base_url + 'alumnosfunc/TypeUser',
            data: 'typeusr=' + encodeURIComponent(typeusr),
            beforeSend: function () {
            },
            success: function (data) {
                $('.paintbytype').html(data);
                //Generar ID
                $('.generateidreference').click(function () {
                    $.ajax({
                        type: 'POST',
                        url: base_url + 'alumnosfunc/createreference',
                        data: 'generate=1',
                        beforeSend: function () {
                            $('#addalumnos-form').modal('hide');
                            $('.capaload').fadeIn(600);
                        },
                        success: function (data) {
                            setTimeout(function () {
                                if (data != "error") {
                                    $('#addalumnos-form').modal('show');
                                    $('.capaload').fadeOut(600);
                                    $('#idreference1').val(data);
                                    $("#emailalumn").focus();
                                } else {
                                    $('.capaload').fadeOut(600);
                                    $.alert({
                                        title: '¡Ups! tuvimos problemas para generar tu ID Referencia',
                                        content: 'Intenta nuevamente y de ser continuo el error comunicate con <strong>contacto@xpertcad.com</strong>',
                                        confirm: function () {
                                            $('#addalumnos-form').modal('show');
                                        }
                                    });
                                }
                            }, 1000);
                        }
                    });
                });
                //Semestres por materia
                $(".carrera").on('change', function () {
                    var vlcar = this.value
                    var vl = $('#cant').val();
                    if (vl != "") {
                        $.ajax({
                            type: 'POST',
                            url: base_url + 'alumnosfunc/SemestreCarrera',
                            data: 'vlcar=' + encodeURIComponent(vlcar),
                            beforeSend: function () {
                            },
                            success: function (data) {
                                $('#semestre1').html(data);
                            }
                        });
                    }
                });
            }
        });
    }
</script>
<script src="{{ admin_js|raw }}"></script>
<script type="text/javascript" src="{{ actions_js|raw }}"></script>