.negro{
	color: #4c4b4b !important;
}
.panel,.navbar{
	box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 1px rgba(255, 255, 255, 0.24) !important;
}
.nameuser-m{
	font-size: 18px;
    position: relative;
    top: 6px;
}
.avatar{
	width: 12% !important;
	background: #e4e4e4 !important;
    border-radius: 50% !important;
    -webkit-box-shadow: 10px 10px 13px -13px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 10px 10px 13px -13px rgba(0,0,0,0.75) !important;
    box-shadow: 10px 10px 13px -13px rgba(12, 12, 12, 0.75) !important;
    border: 1px solid rgba(206, 205, 205, 0.75) !important;
}
.nav>li>a{
	position: relative;
    display: block;
    padding: 0px 15px 0px 15px;
}
.btn-primary{
	background-color: #363f44 !important;
	font-size: 13px !important;
	font-weight: 100 !important;
}
.btn-primary:hover{
	background-color: #4b4c4c !important;
	font-size: 13px !important;
	font-weight: 100 !important;
}
.editor_edit:read-write:focus {
    outline: none !important;
}
.descp-cours{
	font-size: 16px;
}
.course-on-list {border: 1px solid #dedede;}
.course-on-list:hover {
-webkit-box-shadow: 10px 10px 15px -6px rgba(133,129,133,1) !important;
-moz-box-shadow: 10px 10px 15px -6px rgba(133,129,133,1) !important;
box-shadow: 10px 10px 15px -6px rgba(133,129,133,1) !important;
}
.ttl-crs{display: inline-block;}
.dlt-crs{
opacity: 0;
display: inline-block;
float: right;
position: relative;
top: 5px;
font-size: 20px;
}
.course-on-list:hover .dlt-crs{
opacity: 1;
}
.items-users{
	width: 100%;
	background: #eee;
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
	padding: 10px;
}