.dline-b{display: inline-block; }
.border-dash-sup{
	border-left: 3px solid #eee;
    border-right: 3px solid #eee;
}
.input-vacio{
	border: 1px solid #fb8e86 !important;
}
.red{color: #f75a4f;}
.medium{font-size: 18px;}
.dlcurso{font-size: 22px;}