@font-face {
	font-family: 'SensationsandQualities';
    src: url('font/original_Sensations_and_Qualities.eot?#iefix') format('embedded-opentype'), 
         url('font/original_Sensations_and_Qualities.woff') format('woff'),
         url('font/original_Sensations_and_Qualities.ttf') format('truetype'),
         url('font/original_Sensations_and_Qualities.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	overflow-x: hidden;
}
a{
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
.tpg-logo{
	font-family:'SensationsandQualities', Sans-Serif;
}
.tpg-relawey{
	font-family: 'Raleway', sans-serif;
}
.padding0{
	padding-left: 0px !important;
	padding-right: 0px !important; 
}
.margin0{
	margin: 0px !important;
}
.blanco{
	color: #fff;
}
.naranja{
	color: #ff7800;
}
.inlineb{
	display: inline-block !important;
}
.green{
	color: #8BC34A;
}
.azul{
	color: #2196F3;
}
.gris{
	color: #918C8C;
}
.animate{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.animateslow{
	-webkit-transition: all 900ms ease;
	-moz-transition: all 900ms ease;
	-ms-transition: all 900ms ease;
	-o-transition: all 900ms ease;
	transition: all 900ms ease;
}
.login-conteiner{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(255, 152, 0, 0.62);
	/*background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(56, 56, 56, 0.25) 0%,rgba(0, 3, 8, 0.4) 100%), linear-gradient(135deg,  rgba(10, 0, 3, 0.77) 0%,rgba(13, 61, 125, 0.51) 100%);*/
	padding-top: 30px;
}
.login-video{
	width: 102%;
    height: 900px;
    margin-top: -82px;
    margin-left: 0px;
    position: fixed;
}
.login-logo{
	text-align: center;
	width: 300px;
}
.login-form{
	background: transparent;
	border: 0px solid #fff;
	padding: 20px;
}
.create-form{

}
.login-inputs{
	background: transparent !important;
	border-left: 0px !important;
    border-top: 0px !important;
    border-right: 0px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    color: #fff !important;
}
.login-inputs::-webkit-input-placeholder {
  color: #eee;
}

.login-form label{
	color: #fff;
}
#entrar{
	width: 100%;
	background: #fff !important;
	margin-bottom: 20px;
	font-weight: bold;
}
.login-opc{
	color: #fff;
	cursor: pointer;
	font-size: 13px;
}
.login-opc:hover{
	color: #eee;
	text-decoration: none;
}
.activacion-listo{
	font-size: 170px;
	line-height: 107px;
}
.activacion-description{
	font-size: 100px;
	line-height: 107px;
}
.activacion-description strong{
	font-size: 170px;
}
.activacion-empezar{
	background: #eee;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding-top: 36px;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.activacion-empezar a{
	color: #172030;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
}
.activacion-empezar:hover{
	width: 110px;
	height: 110px;
	background: #fff;
	padding-top: 41px;
}
.activacion-empezar a:hover{
	text-decoration: none;	
}
.conteiner-right{
	width: 95%;
	position: relative;
	left: 5%;
	padding-bottom: 50px;
}
/*menus */
.header{
	position: relative;
	border-bottom: 2px solid #eee;
	background: #f3f3f3;
}
.header-transparent{
	position: absolute !important;
	left: 0px;
	top: 0px;
	position: relative;
	background: transparent;
	z-index: 1;
}
.div-links-he{
	padding-top: 10px;
}
.linkmenu{
	padding-left: 6px;
	padding-right: 6px;
	font-size: 17px;
	color: #848484;
}
.header-transparent i{
	color: #848484 !important;;
}
.header-transparent a{
	color: #fff !important;
}
.font-header{
	background: #fff;
    padding: 6px;
    border-radius: 50%;
}
.menu-lateral{
	background: url('../img/back.png')no-repeat;
	background-position: 86% 42%;
	background-size: cover;
	/*background: #eee;*/
	position: fixed;
	left: 0%;
	top: 0px;
	height: 100%;
	width: 5%;
}
.capa{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.6);
}
.menu-lateral-sb{
	background: #eee;
	position: fixed;
	left: -20%;
	top: 0px;
	height: 100%;
	width: 20%;
	z-index: 11;
}
.items-menu{
	border-radius: 50%;
	background: #fff;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 3px;
	cursor: pointer;
}
.items-menu a{
	font-size: 24px;
	color: #484848;
}
.item-user{
	position: absolute;
	bottom: 30px;
	left: 20%;
}
.items-menu:hover{
	background: #484848;
}
.items-menu a:hover{
	color: #eee;
}
.showmenu{
	left: 0%;
}
.items-menu-sb{
	/*border-radius: 50%;*/
	-webkit-border-radius: 50%;
   -moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(228, 228, 228, 0.68);
	width: 40px;
	height: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 4px;
	cursor: pointer;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.back-menu{
	font-size: 24px;
	color: #484848;
}
.items-menu-sb:hover{
	background: #484848;
}
.back-menu:hover{
	color: #eee;
}
.header-userprofile{
	background: url('../img/user.jpg')no-repeat;
	background-position: 86% 42%;
	background: cover;
	width: 100%;
	height: 130px;
	position: relative;
}
.cerrar-sesion{
	font-size: 35px;
}
.cerrar-sesion:hover,.closese:hover{
	text-decoration: none;
}
.menu-lateral-clicks{
	display: block;
}
.div-cont-header{
	padding-top: 20px;
}
.aint-menu{
	width: 100%;
}
.title-menu{
	font-size: 60px;
}
.div-cont-h{
	margin-top: 20px;
}
.cursos-directo{
	font-size: 28px;
}
.add-curso-directo{
	font-size: 14px;
}
.add-curso-directo:hover{
	text-decoration: none;
}
.listdcursos{
	font-size: 13px;
	color: #23527c;
	padding-top: 7px;
	padding-bottom: 7px;
}
/*load body*/
.capaload{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.8);
	 padding-top: 13%;
}
.sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
/*Materias*/
.title-section{
	font-weight: 600;
	font-size: 70px;
	line-height: 40px;
}
.cke_top,.cke_bottom,.cke_toolgroup,a.cke_combo_button{
	background: transparent !important;
	background-image: transparent !important;
	border:1px solid #292929   !important;
}
.addmat{
	font-size: 17px;
}
.form-add-mat{
	border:1px solid #292929   !important;
	padding: 25px;
}
.savemateria{
	background: #292929  ;
	color: #fff;
	width: 100%;
	padding: 18px;
}
.materias-banner{
	
	background-position: 100% 34% !important;
    background-size: cover !important;
    width: 100% !important;
    height: 300px !important;
    padding-top: 146px !important;
}
.div-cap-banner{
	padding-top: 112px !important;
}
.pasos-linea{
	background: #39c578;
	height: 1px;
	margin-top: 25px;
}
.pasos{
	border: 1px solid #39c578;
    padding: 3px;
    cursor: pointer;
}
.paso-do{
	background: #39c578;
	cursor: pointer;
}
.paso-do a{
	color: #fff;
}
.pasos-linea-peding{
	background: #c1c0c0;
	height: 1px;
	margin-top: 25px;
}
.pasos-peding{
	border: 1px solid #c1c0c0;
    padding: 3px;
}
.pasos-peding a{
	color: #39c578;
}
.edits{
	display: none;
	font-size: 12px;
	cursor: pointer;
}
.edits:hover{
	text-decoration: none;
}
.descrip-mat1{
	font-size: 25px;
}
.descrip-mat2{
	font-size: 20px;
}
.descrip p{
	line-height: initial !important;
}
.info-user{
	
}
.sub-info-user{
	padding-top: 120px;
	padding-bottom: 30px;
}
/*GRUPOS*/
.mis-grupos{
	position: relative;
	min-height: 398px;
}
.capagrp {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.86);
    padding-top: 70px;
}
.title-list-grp{
	font-size: 66px;
    line-height: 32px;
}
.go{
	padding-top: 40px;
}
.gobutton{
	padding: 10px;
	background: #fff;
	color: #000;
	
}
.sections{
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}
.padd-left{
	padding-left: 15px;
}
.form-temario{
	width: 95% !important;
    float: left !important;
}
.remove-item{
	font-size: 35px;
	color: #F44336;
	margin-left: 6px;
}
.remove-sb-item{
	font-size: 20px;
    color: #E91E63;
    margin-left: 6px;
}
.plus-mat{
	font-size: 48px;
}
.typeadd{
	display: none;
	position: absolute;
	right: 27%;
    top: -40px;
}
.typeadd a{
	padding: 15px;
    background: #E91E63;
    color: #fff;
    display: block;
    margin-bottom: 7px;
}
.diCatf{
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.submodule{
   padding-left: 50px !important;
}
.dataTables_info{
	margin-bottom: 18px !important;
}
.rojo{
	color:red;
}
.verde{
	color:green;
}
.form-animate-text{
	margin-bottom:10px !important;
}
.inputperfil{
	border-bottom: 1px solid #d2d2d2;
}
/*lecciones/topics*/
.capa-load-lesson{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(255, 255, 255, 0.67);
	z-index: 11;
}
.bttonsedit{
	background: rgba(255, 255, 255, 0.83);
    display: none;
    position: absolute;
    right: 13px;
    top: 0px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #c7c5c5;
    padding: 5px 15px 5px 15px;
    z-index: 11;
}
.bttonsedit a{
	font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
}
.sectionstm{
	background: #d2d2d2;
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: transparent;

	border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: transparent;

    -webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}
.sectionstm:hover{
    border-top-color: #a7a7a7;
    border-bottom-color: #a7a7a7;
}

.sectionstmnpdd{
	background: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
}
.sectionstmnpdd:hover > .bttonsedit{
	display: block;
}
.addsection{
	position: absolute;
	font-size: 30px;
	left: 50%;
	bottom: -15px;
}
.menu-items-add{
	position: fixed;
	width: 20%;
	left: -20%;
	top: 0px;
	height: 100%;
	overflow-y: auto;
	background: #fff;
	z-index: 999999;
	-webkit-box-shadow: 0 0 2rem 0 rgba(0,0,0,.24);
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.24);
}
.add-after{
	opacity: 0;
	position: absolute;
    /* font-size: 14px; */
    z-index: 11;
    width: 22px;
    height: 22px;
    background: #423e3e;
    color: #fff;
    text-align: center;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    border-radius: 50%;
    padding-top: 3px;
}

.add-before{
	top: -17px;
    left: 50%;
}
.add-after{
	bottom: 0px;
    left: 50%;
}
.sectionstmnpdd:hover > .add-after{
	opacity: .9;
}
.add-after:hover{
	opacity: 1;
	color: #eee;
}
.div-close-mnct{
	padding-bottom: 20px;
}
.close-menu-items{
	font-size: 30px;
}
.list-categ-template{
	padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.list-categ-template:hover{
	background: #eee;
}
.sbmenu-items-add{
	position: fixed;
	width: 30%;
	left: -50%;
	top: 0px;
	height: 100%;
	background: #eee;
	z-index: 99999;
	overflow-y: scroll;
}
.sbmenu-items-add-show{
	left: 20%;
}
.sbmenu-items-edit{
	position: fixed;
	width: 30%;
	left: -50%;
	top: 0px;
	height: 100%;
	background: #eee;
	z-index: 99999;
	overflow-y: scroll;
}
.sbmenu-items-edit-show{
	left: 40%;
}
.active-cat-tmpl{
	background: #eee;
}
.mytemplate{
	cursor: pointer;
}
.imgtemplate{
	cursor: pointer;
    /* -webkit-box-shadow: 0 0 2rem 0 rgba(0,0,0,.24); */
    /* box-shadow: 0 0 2rem 0 rgba(0,0,0,.24); */
    width: 80%;
    margin: 0 auto;
    left: 10%;
    position: relative;
     padding-top: 10px;
    padding-bottom: 10px;
}

.menu-edit-items{
	overflow-y: scroll;
	position: fixed;
	width: 40%;
	left: -40%;
	top: 0px;
	height: 100%;
	background: #fff;
	z-index: 1111;
	-webkit-box-shadow: 0 0 2rem 0 rgba(0,0,0,.24);
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.24);
}
.menu-items-add-show{
	left: 0%;
}
.close-edit {
    font-size: 30px;
}
.capa-white{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 9999;
	background: rgba(245, 245, 245, 0.8);
}
.myiframezz{
	position: relative;
	z-index: 999999;
}
.steps{
	box-shadow: 10px -7px 30px -9px rgba(163,153,163,1);
}
/*Editor*/
.ct-tool--heading,.ct-tool--subheading,.ct-tool--paragraph,.ct-tool--unordered-list,.ct-tool--ordered-list,.ct-tool--table,.ct-tool--indent,.ct-tool--unindent,.ct-tool--line-break{
	display: none !important;
}
.thised{
	position: relative;
}
.capa-edit-points{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 9999;
	background: rgba(245, 245, 245, 0.8);
}
/*Templates*/
.div-tmp_txt-heading{
	padding-top: 30px;
    padding-bottom: 30px;
}
.getsettings{
	background: #b1b1b1;
    padding: 11px;
    color: #fff;
}
.tlt-tmp_txt-heading{
	font-size: 60px;
}
.fontsize_unu12{
	font-size:23px;
}
.tmp-line-enununciados2{
	border-bottom: 3px solid orange;
}
.tmp-des-enununciados2{
	margin-top: 20px;
}
.enunciados1-div{
	margin-top: 20px;
    margin-bottom: 20px;
}
.enunciados2-div{
	margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #eee;
}
.tmpl-img-bg{
	background-position: 100% 100% !important;
	background-size: cover !important;
	min-height: 600px !important;
	width: 100% !important;
	position: relative;
}
.cap-tmpl-img-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.52);
}
.subdiv-tmpl-img{
	
	margin-top: 150px;
}
.sub-subdiv-tmpl-img{
	border-top: 4px solid #E91E63;
	padding-top: 10px;
}
.descrp-bg-img{
	color: #fff;
	font-size: 20px;
}

.form-group label{
	font-weight: bold;
    /*background: gray;*/
    color: #03A9F4;
    padding: 3px;
}
.divitems-c{
	position: relative;
	border-top-style: dashed;
	border-top-width: 1px;
    border-top-color: #2196F3;

	border-bottom-style: dashed;
	border-bottom-width: 1px;
    border-bottom-color: #2196F3;

    padding-top: 10px;
    padding-bottom: 10px;
}
.form-construnctor{
	width: 100%;
	border-left: 0px !important;
	border-top: 0px !important;
	border-right: 0px !important;
	-webkit-box-shadow: inset 0 1px 1px transparent !important;
    box-shadow: inset 0 1px 1px transparent !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.form-construnctor:focus,.form-construnctor:active{
  border-bottom: 1px solid #2196F3 !important;
  border-left: 0px !important;
	border-top: 0px !important;
	border-right: 0px !important;
}
.editor_edit:focus,.editor_edit:active{
	border-bottom: 0px !important;
  border-left: 0px !important;
	border-top: 0px !important;
	border-right: 0px !important;
}
.divsave{
	position: absolute;
    background: #00BCD4;
    z-index: 11;
    bottom: -5%;
    right: 11%;
    border-radius: 50%;
    height: 43px;
    width: 43px;
    box-shadow: 3px 3px 2px 0px rgba(134, 131, 131, 0.75);
}
.divsave a{
	color: #fff;
}
.divsave a:hover{
	color: #eee;
}
.dlt-item,.dlt-item-print{
	position: absolute;
    top: -13px;
    right: 14px;
    background: #fff;
    border-radius: 50%;
    height: 29px;
    width: 29px;
    text-align: center;
    font-size: 22px;
    z-index: 1;
}
.flahscard-sw{
	display: none;
}

/*Flip (flashcard)*/
.flip {
	width: 100%;
    height: 300px;
  -webkit-perspective: 800;   
          perspective: 800;
        position: relative;
        text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #eee;
    height: 100%;
   
}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}
.flip .card .front {
   position: absolute;
   width: 100%;
   z-index: 1;
}
.flip .card .img {
   position: relaitve;
   width: 270px;
   height: 178px;
   z-index: 1;
   border: 2px solid #000;
}
.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
 .inner{margin:0px !important;}
 .slcurl{display: none;}

 	button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
      background: none;
    border: 3px solid #2196f3;
    border-radius: 5px;
    color: #2196f3;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding: 1em 2em;
    position: relative;
    text-transform: uppercase;
}

button::before,
button::after {
  background: #2196f3;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;
}


/* BUTTON 5 */
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}
.cnter-vrtcl{
   	max-height: 100% !important;
   	display: flex !important;
   	align-items: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dividercontinue{
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #2196f3;
}
.dividercontinue h1{
    color: #fff;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
    font-weight: bold;
    margin: 0 auto;
}
.mis-items{
	position: relative;
	width: 90%;
	margin:0 auto;
}
.imagenps{
	width: 100%;
}
.points{
	cursor: pointer;
	position: absolute;
    height: 25px;
    width: 25px;
    background: #03A9F4;
    transform: scale(1);
    border: 3px solid #03A9F4;
    border-radius: 50%;
}
.point1{
	top: 63.01020408163265%;
    left: 44.21669106881406%;
    border-radius: 50%;
}


.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.capapuntos{
	display: block;
	position: fixed;
	width: 101%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.4);
	 padding-top: 13%;
	    left: 23%;
}

.course-on-list:hover{
	    transform: translate(0px, -5px);
	-webkit-box-shadow: 0px 9px 20px 1px rgba(140,136,140,1);
	-moz-box-shadow: 0px 9px 20px 1px rgba(140,136,140,1);
	box-shadow: 0px 9px 20px 1px rgba(140,136,140,1);
}
.div-lecciones{
	margin-bottom: 100px;
}
.close-mn{
	font-size: 30px !important;
}
.title-lesson-alm{
	margin-bottom: 43px;
    margin-top: 25px;
    border-bottom: 1px solid #ffae5b;
}
.menu-users-vw{
	position: fixed;
	height:100%;
	top:0px;
	left: 0px;
	width: 20%;
	padding-top:30px;
	border-right: 2px solid #eee;
	background: #e4e4e4;
}
.contet-users-vw{
	position: relative;
	left: 20%;
	width: 80%;
}
.hmb-users-vw{
	font-size: 19px;
}
.negro{color: #000;}
.cont-w-vw{
	width: 100%;
	left: 0px;
}

