html, body {
	position: relative;
	height: 100%;
}
body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}
.swipmenu {
	width: 100%;
	height: 100%;
	overflow-x: hidden !important;
	overflow: initial !important;
}
.swipe-slide-menu {
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.menu {
	min-width: 100px;
	width: 70%;
	max-width: 320px;
	background-color: #2C8DFB;
	color: #fff;
}
.menu a{
	color: #fff;
}
.content {
	width: 100%;
}
.menu-button {
	position: absolute;
	top: 0px; left: 0px;
	padding: 15px;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	background-color: #2C8DFB;
	z-index: 1;
	/*margin: 14px;
	border-radius: 5px;*/
}
.menu-button .bar:nth-of-type(1) {
	margin-top: 0px;
}
.menu-button .bar:nth-of-type(3) {
	margin-bottom: 0px;
}
.bar {
	position: relative;
	display: block;
	width: 50px;
	height: 5px;
	margin: 10px auto;
	background-color: #fff;
	border-radius: 10px;
	-webkit-transition: .3s;
	transition: .3s;
}
.menu-button:hover .bar:nth-of-type(1) {
	-webkit-transform: translateY(1.5px) rotate(-4.5deg);
	-ms-transform: translateY(1.5px) rotate(-4.5deg);
	transform: translateY(1.5px) rotate(-4.5deg);
}
.menu-button:hover .bar:nth-of-type(2) {
	opacity: .9;
}
.menu-button:hover .bar:nth-of-type(3) {
	-webkit-transform: translateY(-1.5px) rotate(4.5deg);
	-ms-transform: translateY(-1.5px) rotate(4.5deg);
	transform: translateY(-1.5px) rotate(4.5deg);
}
.cross .bar:nth-of-type(1) {
	-webkit-transform: translateY(15px) rotate(-45deg);
	-ms-transform: translateY(15px) rotate(-45deg);
	transform: translateY(15px) rotate(-45deg);
}
.cross .bar:nth-of-type(2) {
	opacity: 0;
}
.cross .bar:nth-of-type(3) {
	-webkit-transform: translateY(-15px) rotate(45deg);
	-ms-transform: translateY(-15px) rotate(45deg);
	transform: translateY(-15px) rotate(45deg);
}
.cross:hover .bar:nth-of-type(1) {
	-webkit-transform: translateY(13.5px) rotate(-40.5deg);
	-ms-transform: translateY(13.5px) rotate(-40.5deg);
	transform: translateY(13.5px) rotate(-40.5deg);
}
.cross:hover .bar:nth-of-type(2) {
	opacity: .1;
}
.cross:hover .bar:nth-of-type(3) {
	-webkit-transform: translateY(-13.5px) rotate(40.5deg);
	-ms-transform: translateY(-13.5px) rotate(40.5deg);
	transform: translateY(-13.5px) rotate(40.5deg);
}





.cursobanner-alumn{
	position: relative;
	top: 0px;background-size: cover !important;height: 800px !important;
}
.title-curso-alumn{
	font-size: 56px;
	line-height: 50px;
}
.contenido-course-alm{
	height: auto;background: #f7f7f7;position: relative;
	padding-top: 70px;
	padding-bottom: 150px;
}
.menu-left-alumn{
	position: absolute;
	top: 30px;
}
.numberunidad-alumn{
	font-size: 26px;
}
.titleunidad-alumn{
	font-weight: 100;
}
.empezar-course-alumn{
	position: absolute;
	width: 10%;
	left: 45%;
	bottom: 20%;
}
.empezar-course-alumn a{
	color: #fff;
	border: 1px solid #fff;
	padding: 20px;

}
.empezar-course-alumn:hover a{
	background: #fff;
	color: gray;
}
.aqui-comienza{
	position: absolute;
    top: 0px;
    background: #fff;
}

.dinnextlesson{
		background: #b3b3b3;
	    /* height: 148px; */
	    width: 100%;
	    text-align: center;
	    padding-top: 40px;
   		padding-bottom: 30px;
	}
	.bounce {
		-moz-animation: bounce 3s infinite;
		-webkit-animation: bounce 3s infinite;
		animation: bounce 3s infinite;
	}
	@-moz-keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {
	    -moz-transform: translateY(0);
	    transform: translateY(0);
	  }
	  40% {
	    -moz-transform: translateY(-30px);
	    transform: translateY(-30px);
	  }
	  60% {
	    -moz-transform: translateY(-15px);
	    transform: translateY(-15px);
	  }
	}
	@-webkit-keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	  }
	  40% {
	    -webkit-transform: translateY(-30px);
	    transform: translateY(-30px);
	  }
	  60% {
	    -webkit-transform: translateY(-15px);
	    transform: translateY(-15px);
	  }
	}
	@keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	  }
	  40% {
	    -moz-transform: translateY(-30px);
	    -ms-transform: translateY(-30px);
	    -webkit-transform: translateY(-30px);
	    transform: translateY(-30px);
	  }
	  60% {
	    -moz-transform: translateY(-15px);
	    -ms-transform: translateY(-15px);
	    -webkit-transform: translateY(-15px);
	    transform: translateY(-15px);
	  }
	}
	/* Demo Purpose Only*/
	.demo {
	  font-family: 'Raleway', sans-serif;
		color:#fff;
	    display: block;
	    margin: 0 auto;
	    padding: 15px 0;
	    text-align: center;
	}
	.demo a{
	  font-family: 'Raleway', sans-serif;
	color: #2ecc71;		
	}


	.speech-bubble {
		display: none;
		position: absolute;
    	z-index: 1;
		background: #fff; /* el color de fondo */
		color: #6495ED; /* el color del texto */
		font-family: Arial, Sans-serif;
		font-size: 12px;
		padding: 20px 10px 10px 10px;
		width: 35%;
		left: 35%;
    	top: 6%;
    	border: 2px solid;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;

		-webkit-box-shadow: 2px 2px 5px 0px rgba(163,158,163,1);
		-moz-box-shadow: 2px 2px 5px 0px rgba(163,158,163,1);
		box-shadow: 2px 2px 5px 0px rgba(163,158,163,1);
    
	}
	.speech-bubble:after {
	  border: solid 10px transparent;
	  border-top-color: transparent;  /* igual al color de fondo */
	  border-bottom: 0;
	  bottom: -20px;  /* igual al borde + el padding-bottom de la definición anterior */
	  content: "";
	  display: block;
	  height: 0;
	  margin: auto;
	  overflow: hidden;
	  position: relative;
	  width: 0;
	}
	.close-dc-point{
		font-size: 30px;
		float: right;
	}


/*items templates*/
.margen_templates{
	padding-left: 53px;
    padding-right: 53px;
}

.des-li{
	padding: 10px;
}
.div-vr-actv{
	padding-top: 30px;
}