.tabs-area{
	min-height:500px;
}
.listas-ltt{
	font-size:17px;
}
.tab-content{
	padding:40px;
}
.texto-tabs{
	font-size: 17px;
}
.img-tabs{
	width:50%;
}
.tabs_tmpl1{
	background: #f5f5f5 !important;
}
.div-list2{
	height: 50px; 
	width: 50px;
	border-radius: 50%;
}
.div-list2 strong{
	font-size: 34px;color: #fff;
}
.panel-default>.panel-heading{
	padding: 25px;
}
#accordion{
	padding: 0px 130px;
}
.tabs-area{
	width: 76%;
    left: 12%;
}
.nav>li>a{
	padding: 20px 20px !important;
}

/*images*/
.img-and-text{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0px 35px;
}
.img-modal{width: 100%;}
/*quotes*/
.margin-template{
	margin-top: 40px;
	margin-bottom: 40px;
}
.title-text-audio{
	margin-bottom: 35px;
}
/*,ultimedia*/
.wdt-mtl{
	position: relative;
	width: 40%;
    left: 30%;
}
.paddg-contain{
	padding: 0px 245px;
}
.border-tmpl-file{
	border: 1px solid #dad8d8;
    padding: 25px;
}
.border-tmpl-file img{
	width: 50%;
}
.wdt-mtl2{
	position: relative;
	width: 85%;
    left: 12%;
}
.content-bttn{
	padding-top: 50px;
}
.btton-go{
	
    padding: 14px 45px;
    border-radius: 2rem;
    background: gray;
    color: white;
}
.dv-bttn-save{
	margin-top: 20px;
}
.dv-dlt-ml-tpl{
	padding-top: 25px;
}
.dlt-ml-tpl{
	font-size: 20px;
}
.paddg-dv-puntos{
	padding: 0px 70px;
}
.des-li{
	padding: 10px;
}