<img src="{{ img_file }}" style="width: 50px;" /><i>Actividad ordenar:</i><br>
{% if valor %}
    <ul class="sortable">
        {% for val in valor %}
            <li class="col-sm-12 col-md-12 col-lg-12 des-li ui-state-default ">
                {{ val }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
<div class="col-lg-12 col-md-12 col-sm-12 text-center div-vr-actv"/>
    <button type="button" class="btn btn-secondary ver-actv" itm="{{ ItemID }}">Verificar
        actividad
    </button>
</div>