<style>
    select.selectOp {
        border: 2px solid #e6e6e6;
        border-radius: 0;
        font-weight: 400;
        color: inherit;
        line-height: normal;
        transition: border-color 0.2s ease, outline 0.2s ease;
        width: 10%;
        height: 45px;
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
    select.selectOp :focus {
        box-shadow: 0 3px 4px rgba(0, 91, 166, 0.3) inset;
        outline-offset: -3px;
    }
    select.selectOp [disabled], select.selectOp :disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
    select.selectOp :invalid {
        color: #c7c7c7;
    }
</style>
<h3>{{ datos.QuizName|raw }}</h3>
<hr>

<div class="col-xs-1 col-sm-1 col-lg-1 ">
</div>
{% set swiperNum = datos.swiperNum %}
<div class="col-xs-10 col-sm-10 col-lg-10 swiper-container swiperquestion{{ swiperNum }} "
     style="padding-right: 0px;padding-left: 0px;">
    <div class="swiper-wrapper">
        {% for qst in QuizArr %}
            <div class="swiper-slide">
                {% set QuestionTitleClass = 'text-center' %}
                {% if qst.QuestionType == 'rE' %}
                    {% set QuestionTitleClass = 'text-justify' %}
                {% endif %}

                <div class="{{ QuestionTitleClass|raw }} form-group">
                    <h4>{{ qst.QuestionName|raw }}</h4>
                </div>
                {% set rang = 0 %}
                {% if qst.opCount == 5 or qst.opCount == 3 or qst.opCount == 2 %}
                    {% set rang = 4 %}
                {% elseif qst.opCount == 4 %}
                    {% set rang = 3 %}
                {% endif %}
                {% set j = 0 %}
                {% if rang > 0 %}
                    {% for i in range(0,rang) %}
                        <div class="text-center col-xs-{{ qst.arrColSize[i] }} col-sm-{{ qst.arrColSize[i] }} col-sm-{{ qst.arrColSize[i] }} col-lg-{{ qst.arrColSize[i] }}">
                            {% if qst.ColDist[qst.opCount][i] == 1 %}
                                <input type="radio" ky="{{ qst.key }}" qt="{{ qst.QuestionID }}"
                                       name="anwer_{{ qst.key }}"
                                       value="{{ qst.options[j].OptionID }}"/> {{ qst.options[j].OptionName|raw }}
                                {% set j = j + 1 %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% if qst.options %}
                        <div class="row text-center">
                            <select class="selectOp oM" qt="{{ qst.QuestionID }}">
                                <option value="">--</option>
                                {% for op in qst.options %}
                                    <option value="{{ op.OptionID }}" ky="{{ qst.key }}"
                                            name="anwer_{{ qst.key }}"> {{ op.OptionName|raw }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>


</div>

<div class="col-xs-1 col-sm-1 col-lg-1 ">
</div>
<div class="swiper-button-next swiperquestionn{{ swiperNum }}">
    <h1 class="cl_primario"><i class="fa fa-chevron-right" aria-hidden="true"></i>
    </h1>
</div>
<div class="swiper-button-prev swiperquestionp{{ swiperNum }}">
    <h1 class="cl_primario"><i class="fa fa-chevron-left" aria-hidden="true"></i>
    </h1>
</div>

<div style="padding:20px">
</div>
<div class="text-center" style="padding-top: 85px">
    <button type="button" class="btn btn-primary save-anws" >Guardar respuestas</button>
    <button type="button" class="btn btn-success verModal " style="display: none;" data-toggle="modal"
            data-target="#modalanw">Ver retroalimentación
    </button>
</div>
<script>
    $( document ).ready(function() {
        var swiper = new Swiper('.swiperquestion{{ swiperNum }}', {
            nextButton: ".swiperquestionn{{ swiperNum }}",
            prevButton: ".swiperquestionp{{ swiperNum }}",
            pagination: ".swiper-pagination",
            paginationType: "progress",
            paginationClickable: false,
            freeMode: false
        });
    });
</script>