<div style="padding: 20px;">
    <h1 style="color:green;" align="center"> {{ QuizName|raw }} </h1>
    <h5>
        <div class="col-sm-4 col-md-4 col-lg-4">Puntuación: <strong style="color:{{ colorScore|raw }};">{{ Score|raw }}</strong></div>
        <div class="col-sm-4 col-md-4 col-lg-4">Correctas: {{ Correctas|raw }}</div>
        <div class="col-sm-4 col-md-4 col-lg-4">Inconclusas: {{ Inconclusas|raw }}<div>
    </h5>
</div>
{% for resps in respuestas %}

    <div style="padding: 10px;">
        <h5 >{{ resps.name|raw }}. <br>{% if resps.feedback != '' %}Recuerda: {% endif %}{{ resps.feedback|raw }}</h5>
    </div><hr>
{% endfor %}
