{{ form_open|raw }}
    <input type="hidden" name="i" value="{{ Number }}"/>
    <input type="hidden" name="Qz" value="{{ QuizID }}"/>
    <input type="hidden" name="q" value="{{ QuestionID }}"/>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 12px;">
    <div class="col-xs-2 col-sm-2 col-lg-2">
        <h5>Respuesta correcta</h5>
    </div>
    <div class="col-xs-4 col-sm-4 col-lg-4"><h5>Opciones</h5></div>

    <div class="col-xs-6 col-sm-6 col-lg-6" align="right">
        {% if New == 0 %}
            {% if QuestionType == 'opMul' or QuestionType == 'rE' %}
                <button type="button" class="btn btn-primary add-opcion"><i class="fa fa-plus"
                                                                            aria-hidden="true"></i>
                </button>
            {% endif %}
            <button type="submit" class="btn btn-primary " i="{{ Orden }}"
                    q="{{ QuestionID }}" v="1">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        {% endif %}
    </div>
</div>
    {% if New == 0 %}
        {% if opq %}
            <div class="col-xs-12 col-sm-12 col-lg-12 opciones-q">
                {% for op in opq %}
                    <div class="col-xs-12 col-sm-12 col-lg-12 opcion-op">
                        <div class="col-xs-2 col-sm-2 col-lg-2 form-animate-radio">
                            <label class="radio">
                                <input type="radio" name="radios" value="{{ op.radioID }}"
                                       q="{{ op.QuestionID }}" {{ op.selected }} required>
                                <span class="outer"></span>
                                <span class="inner"></span>
                            </label>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-lg-10">
                            <div class="col-xs-10 col-sm-10 col-lg-10 form-group ">
                                <input type="text" class="form-text input-lg"
                                       {% if QuestionType == 'vF' %}disabled{% endif %}
                                       i="{{ op.Orden }}" name="options[opc][]"
                                       style="width: 100%;background:none;" placeholder="Escribe tu respuesta"
                                       value="{{ op.OptionName|raw }}" required/>
                                <input type="hidden" name="options[ord][]" value="{{ op.Orden }}"/>
                                <input type="hidden" name="options[opI][]" value="{{ op.OptionID }}"/>
                            </div>
                            {% if QuestionType != 'vF' %}
                                <div class="col-xs-2 col-sm-2 col-lg-2 text-right">
                                    <a class="dlt-option animate" v="{{ op.OptionID }}" ord="{{ op.Orden }}">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {#<div class="col-xs-6 col-sm-6 col-lg-6 text-center padding0">
                <button type="button" class="btn btn-primary add-opcion"><i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>#}
        {% else %}
            <div class="col-xs-12 col-sm-12 col-lg-12 text-left">

            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 opciones-q">

            </div>
        {% endif %}
    {% else %}
        <div class="col-xs-12 col-sm-12 col-lg-12 addoptions"></div>

        <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-top: 12px;"></div>
    {% endif %}

{{ form_close|raw }}
{#</form>#}