{{ form_open|raw }}
{#<form method="post" id="{{ FormID }}" action="{{ base_url() }}materiasfnc/savequestion">#}
    <input type="hidden" name="Qz" value="{{ QuizID }}"/>
    <input type="hidden" name="QstnID" value="{{ QuestionID }}"/>
    <input type="hidden" name="i" value="{{ Number }}"/>
    <input type="hidden" name="QType" value="{{ QuestionType }}"/>
<div align="right">
    {% if New == 0 %}
        <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-top: 12px;">
            <a class="btn btn-primary dlt" t="{{ tabla }}" id="{{ id }}" vl="{{ QuestionID }}"><i
                        class="fa fa-trash-o" aria-hidden="true"></i></a>
            <button type="submit" class="btn btn-primary save-qstnm" i="{{ Orden }}"
                    q="{{ QuestionID }}" v="1">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        </div>
    {% else %}
        <input type="hidden" name="q" value="{{ q }}" />

        <div class="col-xs-12 col-sm-12 col-lg-12" style="padding-top: 12px;">
            <button type="submit"  class="btn btn-primary"><i class="fa fa-floppy-o"
                                                                                 aria-hidden="true"></i></button>
            <a class="btn btn-primary dltqs"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </div>
    {% endif %}
</div>

    <div class="form-group">
        <label for="sel1">Tipo de pregunta:</label>
        <select class="form-control" id="sel1" {% if New == 0 %}disabled{% else %}name="selType"{% endif %}>
            <option id="opcion-ml" value="opMul" {% if QuestionType == 'opMul' %} selected {% endif %}>Opci&oacuten
                M&uacuteltiple
            </option>
            <option id="opcion-vf" value="vF" {% if QuestionType == 'vF' %} selected {% endif %}>Verdadero/Falso
            </option>
            <option id="opcion-re" value="rE" {% if QuestionType == 'rE' %} selected {% endif %}>Rellenar Espacios
            </option>
        </select>
    </div>
    <div class="pregunta-opciones" {% if QuestionType == 'rE' %} style="display: none;" {% endif %}>
        <div class="col-xs-12 col-sm-12 col-lg-12 padding0">
            <label>Escribe la pregunta</label>
        </div>
        <div class="form-group form-animate-text">
            <input type="text" class="form-text" id="title-q" name="name" placeholder="Escribe la pregunta..."
                   value="{{ QuestionName|raw }}" required="required"/>
            <span class="bar"></span>
        </div>
    </div>
    <div class="form-group form-animate-text rellenar-espacios" {% if QuestionType != 'rE' %} style="display: none;" {% endif %}>
        {% if New != 0 %}
            <button type="button" class="btn btn-primary insertAtCursor" >Agregar espacio en blanco</button>
            <textarea class="form-text" name="rellenarE" id="rellenarE" placeholder="Escribe el texto a rellenar"
            >{{ QuestionName|raw }}</textarea>
        {% else %}
            <p>{{ QuestionName|raw }}</p>
        {% endif %}

    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 padding0">
        <label>Escribe la retroalimentaci&oacuten para errores</label>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 padding0">
    </div>
    <div class="form-group form-animate-text">
        <input type="text" class="form-text" id="titler-q" name="fdbck"
               placeholder="Escribe la retroalimentacion..." value="{{ FeedBack|raw }}"/>
        <span class="bar"></span>
    </div>

{{ form_close|raw }}