/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'SensationsandQualities';
    src: url('original_Sensations_and_Qualities.eot?#iefix') format('embedded-opentype'), 
         url('original_Sensations_and_Qualities.woff') format('woff'),
         url('original_Sensations_and_Qualities.ttf') format('truetype'),
         url('original_Sensations_and_Qualities.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}